
.card {
    background-color: rgb(140, 76, 230);
    width: 300px;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    margin: 0 0 20px 0;
    transition:all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card h4 {
    color: white;
    margin: 0 0 0 0;
    font-size: 30px;
    font-family: 'Lucida Sans';
}

.card p {
    color: white;
    margin: 20px 0 0 0;
    font-family: 'Lucida Sans';
}